@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

button,
body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: hsl(217, 28%, 15%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header ul li {
  list-style-type: none;
  margin: 2rem;
}

.logo {
  width: 7rem;
}

a {
  text-decoration: none;
  color: white;
}

.illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration img {
  width: 45rem;
}
.about h1,
.about p {
  color: white;
  text-align: center;
  padding-top: 2rem;
}
.about p {
  padding-bottom: 2rem;
}

.about {
  background-image: url(images/bg-curvy-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(217, 28%, 15%);
  background-position: center top;
  height: 25rem;
}

.about div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  color: white;
  border-radius: 25px;
  border: 0;
  background-color: hsl(198, 60%, 50%);
  width: 13rem;
  height: 3rem;
  font-weight: 700;
}

.fact {
  background-color: hsl(218, 28%, 13%);
}

.fact h3,
.fact p {
  color: white;
}

.fact .row:last-child {
  margin-top: 3rem;
}

.stay-p {
  color: white;
  padding-top: 1rem;
  width: 35rem;
  margin-top: 5rem;
}

.stay-p p {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: skyblue;
  border-bottom: 2px solid skyblue;
}
.stay-product {
  display: flex;
  width: 80rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 4rem;
}

.stay-p img {
  width: 150px;
}

.profile {
  display: flex;
  justify-content: space-between;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.enclosed {
  display: flex;
}

.founder h4 {
  color: white;
  padding-left: 20px;
  padding-top: 40px;
}

#fo p {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

.firsta {
  width: 450px;
  background-color: hsl(219, 30%, 18%);
}

.profile1 {
  /* border: 2px solid; */
  border-radius: 50px;
  width: 60px;
  overflow: hidden;
  margin: 2rem 0;
  margin-left: 2rem;
}

.firsta p {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile1 img {
  width: 100%;
  /* height: 80%; */
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
}

.get-access {
  width: 900px;
  background-color: hsl(219, 30%, 18%);
  /* border: 2px solid; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: -5rem;
}
.get-access h1 {
  color: white;
  padding-top: 40px;
}
.get-access p {
  text-align: center;
  padding: 35px 0;
  margin: 0 8rem;
}

.get-access input {
  width: 30rem;
  height: 2.5rem;
  border-radius: 50px;
  margin-right: 44px;
}

.get-access button {
  width: 10rem;
  height: 2.5rem;
}

.intbut {
  margin-bottom: 2rem;
}

footer {
  background-color: hsl(216, 53%, 9%);
}

footer p,
footer ul {
  color: white;
}

.fcontainer {
  display: flex;
  justify-content: space-between;
  max-width: 1539px;
  margin: auto;
  margin-top: 2rem;
}

.base {
  padding-top: 10rem;
  padding-left: 8rem;
}

.location,
.phone,
.mail {
  display: flex;
}

.location img,
.phone img,
.mail img {
  padding-right: 20px;
}

ul li,
.phone {
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .illustration img {
    width: 18rem;
  }

  .logo {
    width: 5rem;
  }

  header ul li {
    margin: 0.7rem;
  }

  nav a {
    font-size: 0.5rem;
  }

  header,
  .about,
  .fact {
    padding: 0 1.5rem;
  }

  .row div {
    text-align: center;
  }
}

@media only screen and (min-width: 1023px) {
  .row {
    display: flex;
    width: 60rem;
    margin: 0 auto;
    text-align: center;
    padding-right: 20px;
    justify-content: space-between;
  }

  .row div {
    width: 25rem;
  }
}
