@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  font-size: 18px;
}

header {
  background-image: url(images/bg-hero-desktop.svg);
  height: 100vh;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

nav img {
  width: 120px;
}

.hero-section h1 {
  font-weight: 600;
  padding-top: 80px;
}

.hero-section p {
  padding: 50px 30px;
}

nav button {
  width: 10rem;
  height: 3rem;
  border-radius: 25px;
  border: 0;
  background-color: white;
  box-shadow: 0px -1px 54px -12px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px -1px 54px -12px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -1px 54px -12px rgba(0, 0, 0, 0.42);
  cursor: pointer;
}
.img1 {
  padding-left: 50px;
}

.img1 img {
  width: 500px;
}

.dbutton {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.hero-section button,
.first button {
  background-color: rgb(241, 70, 164);
  width: 15rem;
  height: 3rem;
  border: 0;
  border-radius: 25px;
  color: rgb(219, 209, 209);
  font-weight: 600;
  cursor: pointer;
}

.down-section,
.down-section2,
.down-section3 {
  width: 400px;
}

.down-section,
.down-section3 {
  padding: 20px 0;
  padding-left: 100px;
  padding-right: 30px;
}


.down-section2 {
  padding: 20px 0;
  padding-right: 100px;
  padding-left: 30px;
}

.down-section h3,
.down-section2 h3,
.down-section3 h3 {
  padding: 20px 0;
}

.container2,
.container3,
.container4 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  /* padding-right: 50px;
  padding-left: 50px; */
  align-items: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
}

.img2 img,
.img4 img {
  width: 350px;
  padding: 20px 0px;
  padding-right: 100px;
  padding-left: 20px;
}

.img3 img {
  width: 350px;
  padding: 20px 0px;
  padding-right: 100px;
  padding-left: 20px;
}

.first {
  border-radius: 15px;
  border: 2px;
  width: 500px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.43);
}

.first h3 {
  padding-bottom: 20px;
  font-size: 600;
}

.community {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: -3rem;
}

footer {
  background-color: hsl(226, 95%, 9%);
}

.base {
  padding-top: 5rem;
  margin-left: 50px;
}

.fcontainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;
}

.location,
.phone,
.mail {
  padding-top: 30px;
  margin-left: 50px;
  display: flex;
}

.mail {
  padding-bottom: 5rem;
}

.base img {
  width: 120px;
}

.location img,
.phone img,
.mail img {
  width: 15px;
  padding-right: 10px;
}

.location p,
.phone p,
.mail p {
  color: white;
  font-weight: 400;
}

.left-middle,
.right-middle {
  margin-top: 8rem;
}

.left-middle ul,
.right-middle ul {
  color: white;
}

.left-middle ul li,
.right-middle ul li {
  list-style-type: none;
}

.socials {
  display: flex;
  margin-top: 8rem;
}

.fb img,
.twitter img,
.instagram img {
  width: 20px;
}

.fb,
.twitter,
.instagram {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50px;
  border-color: white;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.fp p {
  text-align: right;
  color: white;
}


/* small screen  */

@media only screen and (max-width: 767px) {
  section {
    margin: 0 0.5rem;
  }

 nav {
    margin: 0.3rem;
  }

  nav img {
    width: 5rem;
  }

  nav button {
    width: 6rem;
    height: 2rem;
    font-size: 0.7rem;
    font-weight: 700;
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.09);
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0.3rem;
  }

  .hero-section p,
  .hero-section h1,
  .down-section h3,
  .down-section p,
  .down-section2 h3,
  .down-section2 p,
  .down-section3 h3,
  .down-section3 p {
    text-align: center;
  }

  .down-section, .down-section2, .down-section3 {
    width: 300px;
}

.down-section, .down-section2, .down-section3 {
  padding: 20px 0;
  /* padding-left: 100px; */
  /* padding-right: 30px; */
}

  p {
    font-size: 0.6rem;
  }

  .hero-section button,
  .first button {
    width: 12rem;
    font-size: 0.7rem;
    height: 2rem;
  }

  .img1 {
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }

  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img {
    width: 250px;
  }

  .img2 img, .img4 img {
    width: 350px;
    padding: 20px 0px;
    /* padding-right: 100px; */
    /* padding-left: 20px; */
}

  .dbutton {
    /* to justify the button with get started to the center */
    justify-content: center;
  }

  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    /* padding-right: 50px;
  padding-left: 50px; */
    align-items: center;
    /* max-width: 1200px;
    margin-right: auto;
    margin-left: auto; */
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
  }

  .first {
    border-radius: 15px;
    border: 2px;
    width: 300px;
    height: 150px;
    background-color: white;
  }

  .first h3 {
    text-align: center;
  }

  .location,
  .phone,
  .mail,
  .left-middle ul,
  .right-middle ul {
    margin-left: 20px;
  }

  .mail {
    padding-bottom: 2rem;
  }
  .left-middle,
  .right-middle {
    margin-top: 2rem;
  }

  .socials {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .fp p {
    text-align: center;
    padding: 30px 0;
  }

  .fcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    /* max-width: 767px; */
  }
}

@media only screen and (min-width: 768px){

section {
    margin: 0 1rem;
  }
  nav {
    margin: 1rem;
  }

  nav img {
    width: 8rem;
  }

  nav button {
    width: 12rem;
    height: 2rem;
    font-size: 0.9rem;
    font-weight: 700;
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.09);
  }

  .hero-section {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin: 0.3rem;
  }

  .hero-section p,
  .hero-section h1,
  .down-section h3,
  .down-section p,
  .down-section2 h3,
  .down-section2 p,
  .down-section3 h3,
  .down-section3 p {
    text-align: left;
  }

  p {
    font-size: 0.8rem;
  }

  .hero-section button,
  .first button {
    width: 12rem;
    font-size: 0.7rem;
    height: 2rem;
  }

  .img1 img {
    padding-top: 50px;
  }

  .img2 img,
  .img3 img {
    width: 300px;
  }

  .dbutton {
    /* to justify the button with get started to the center */
    justify-content: left;
  }

  .container2,
  .container3,
  .container4 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 30px;
    /* padding-right: 50px;
  padding-left: 50px; */
    align-items: center;
    /* max-width: 1200px;
    margin-right: auto;
    margin-left: auto; */
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.08);
  }

  .first {
    border-radius: 15px;
    border: 2px;
    width: 300px;
    height: 150px;
    background-color: white;
  }

  .first h3 {
    text-align: center;
  }

  .location,
  .phone,
  .mail,
  .left-middle ul,
  .right-middle ul {
    margin-left: 20px;
  }

  /* .mail {
    padding-bottom: 2rem;
  }
  .left-middle,
  .right-middle {
    margin-top: 2rem;
  }

  .socials {
    margin-top: 2rem;
    display: flex;
    justify-content: center; */
  }
  .fp p {
    text-align: center;
    padding: 30px 0;
  }
}


@media only screen and (min-width: 1023px) {
  /* Site responsiveness on desktop */
  .hero-section {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .down-section,
  .down-section2,
  .down-section3 {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .hero-section p {
    padding: 50px 0px 50px 0;
  }

}
.fcontainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
}